
.nav{
    
    position: relative;
    text-align: center;
   
}
.links{
    background-image: url(/first\ \(1\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width:1256px;
    height:70vh;
    background-position: center;


}
.now{
    background-color: yellow;
}
.all{
    list-style-type: none;
    
    
    
    
}
.news{
    background-color: #ffe5d6;
    height: 400px;
}

.offers{
padding-left: 0 20px;
}

    
    
    

.explore{
  list-style-type: none;  
  margin-top: 3%;
  padding: 1%;

}
.scan{
  margin-left: 20%; 
}
.classic{
    margin-left: 20%;

}
.modern{
    
width: 100px;
height: 10%;
background-color: blanchedalmond;
    
    
}
.images{
    display: flex;
    
}
.image1{
 
  width: 250px;
  height: 250px;
  margin-right: 8%;
}
.image2{
    width: 250px;
    height: 250px;
    margin-left:0% ;
    
}
.image3{
    width: 250px;
    height: 250px;
    margin-left: 10%;
}
.more{
    color: black;
    background-color: yellow;
}
.laptop{
    width: 250px;
    height: 250px;
    margin-right: 10%;

}
.wall{
    width: 250px;
    height: 250px;
    margin-right: 10%;

}
.chair{
    width: 250px;
    height: 250px;
    margin-right: 10% ;

}

.designs{
    
    background-color: black; 
    padding: 1%;

}
.popular{
   margin-right: 80%;
   color: white;
}
.yellow{
    color: yellow;
}
.oak{
    margin-right: 20%;
    color: white;
}
.mustard{
    margin-left: 40%;
    color: white;
}
.table{
margin-left: 60%;
}
.icon{
    
    
}
.insta{
    width: 5%;
    height: 5%;
}
.pint{
    width: 2%;
    height: 2%;
}
.fb{
    width: 2%;
    height: 2%;
}
.footer{
    list-style-type: none;
    display: flex;
}

     
.round{
    border: solid;
     border-radius: 100%; 
    color: blanchedalmond;
    width: 50%;
    
    
} 
.words{
    color:black
}
.ul{
    color: black;
}

    


.image5{
    float: right;
    margin-top: 4%;
    width: 400px;
    height: 300px;
    
}


footer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    background-color: black;
}

.icons{
    margin-left: -20px;
}
.payment{
    margin-right: 0px;
    color: white;
}
.faq{
    color: white;
}
.cozy{
    color: white;
    margin-left: 150%;
}
.hom{
    color: yellowgreen;
    margin-left: 150%;
}


.inquires{
    color: white;
    
}
.com{
    color: white;
}
.icon{
    color: white;
    margin-left: 80%;
}